<div style="background-color: #232639;color:#fff;padding-top: 70px;">
    <div class="container vh-100 d-flex overflow-auto">
        <div class="row">
            <div class="col">
                <div class="">
                    <p>About</p>
                    <h1>About <span style="color: #ff4a57;">Arpita</span></h1>
                    <h5 class="mt-3 mb-4" style="color: #ff4a57;">"Fuelled by passion, shaping tomorrow's digital world through code's artistry." </h5>
                </div>
                <p  class="mt-3">Embrace a journey fueled by a fervent passion for technology and innovation.
                    You'll find in me a Angular's captivating frontend finesse, creating seamless digital experiences.
                     My expertise spans TypeScript, Bootstrap, and a mastery of HTML, CSS, and JavaScript, ensuring  user-centric applications. 
                     With a collaborative approach, effective project management, and a problem-solving mindset, I ensure timely delivery of visually stunning, 
                     functionally efficient projects. I thrive on learning and adapting to new technologies, ceaselessly pushing the boundaries of digital possibilities.
               </p>
                <button class="button-18 mt-5" role="button" (click)="openDilog()">contact me</button>
                <div class="mt-5">
                    <!-- <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img src="../../assets/logo/wtm.bbsr.jpeg" alt="Image Description">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>