<div class="container overflow-auto" style="padding: 20px;">
    <h5>Women Tech Makers | Google</h5>
    <h5>Core Member | Speaker</h5>
    <h6 class="mt-4">Oct 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ol class="mt-4">
       <li>WTM supports women in tech with resources, mentorship, networking, and skill-building programs, aiming to reduce the gender gap in technology careers.</li>
       <li>WTM advocates for diversity and inclusion in the tech industry, highlighting women's achievements and promoting visibility for a more inclusive environment.</li>
       <li>As a core member of Women Techmakers, I led initiatives to empower women in tech through mentorship, events, and advocacy for diversity and inclusion.</li>
    </ol>
    <div class="mt-4 text-end">
        <a href="https://developers.google.com/womentechmakers" class="bn3">Know More</a>
    </div>

</div>