<div class="container overflow-auto" style="padding: 20px;">
    <h5>Women Tech Makers | Google</h5>
    <h5>Core Member | Speaker</h5>
    <h6 class="mt-4">Oct 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ul class="mt-4">
        <li>WTM aims to empower and support women pursuing careers in technology by providing them with resources, mentorship, networking opportunities, and skill-building programs. It seeks to bridge the gender gap in tech and encourage more women to enter and excel in the field.
        </li>
        <li>WTM fosters a supportive community for women in tech, creating spaces where they can connect, collaborate, and learn from each other. It offers a platform for sharing experiences, insights, and challenges, fostering a sense of belonging and encouragement.</li>
        <li>Successfully led and managed projects, meeting crucial milestones while ensuring timely delivery and quality
            output, showcasing adept project management skills.</li>
            <li>WTM advocates for diversity and inclusion within the tech industry. By highlighting the achievements of women in tech and promoting their visibility, it aims to create a more inclusive environment where diverse perspectives are valued and represented.</li>
       <li>As a core member of Women Techmakers, I spearheaded initiatives empowering women in tech through mentorship, events, and advocacy for diversity and inclusion.</li>
    </ul>
    <div class="mt-4 text-end">
        <a href="https://developers.google.com/womentechmakers" class="bn3">Know More</a>
    </div>

</div>