<div class="container overflow-auto" style="padding: 20px;">
    <h5>Angular Developer | VIS Network</h5>
    <h6 class="mt-4">July 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ol class="mt-4">
        <li>Proven skills in creating whole applications with Angular, TypeScript, Bootstrap, and Angular Material. Can
            easily work with various frontend technologies.</li>
        <li>Focused on user-friendly design to make visually appealing interfaces. Ensured a smooth and engaging user
            experience on different devices. </li>
        <li>Led projects successfully, meeting important milestones with on-time delivery and high-quality output,
            showcasing strong project management skills.</li>
    </ol>

    <div class="mt-4 text-end">
        <a href="https://visnet.in/" class="bn3">Know more</a>
    </div>
</div>