<div class="container overflow-auto" style="padding: 20px; height: 70vh;">
    <h5>Angular Developer | VIS Network</h5>
    <h6 class="mt-4">July 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ul class="mt-4">
        <li>
            Demonstrated expertise in developing end-to-end applications using Angular, TypeScript, Bootstrap, and Angular Material, showcasing versatility across frontend technologies.
        </li>
        <li>Prioritized user-centric design principles to create visually captivating interfaces, ensuring a seamless and engaging user experience across devices.</li>
        <li>Successfully led and managed projects, meeting crucial milestones while ensuring timely delivery and quality output, showcasing adept project management skills.</li>
        <li>Implemented stringent privacy compliance measures and ensured secure data handling in applications, emphasizing the importance of data protection.</li>
        <li>Engineered mobile-friendly layouts using Bootstrap, enhancing accessibility and usability across various devices, showcasing a commitment to responsive design.</li>
        <li>Developed dynamic and interactive web components, leveraging Angular and TypeScript proficiency to create efficient and responsive applications.</li>
        <li>Crafted a bespoke self-portfolio website to exhibit technical expertise, professional experiences, and projects in a compelling and accessible manner, employing a blend of frontend technologies for a standout presentation.</li>
    </ul>
    <div class="mt-4">
        <button class="button-18" role="button">Company Website</button>
        
        </div>
        
</div>
