<div style="background-color: #232639;color:#fff;padding-top: 70px;" class="overflow-auto vh-100 d-flex ">
    <div class="container ">
        <div class="row">
            <div class="col" style="padding: 0;">
                <div class="">
                    <p>Experience</p>
                    <h1>Work <span style="color: #ff4a57;">Experience</span></h1>
                </div>
                <div class="d-flex flex-row bd-highlight mt-3 mb-3">
                    <div class="p-2 bd-highlight" *ngFor="let item of experience">
                        <button class="card" (click)="openDialog(item.dialogComp)">
                            <div class="circle">
                                <img [src]="item.logo" alt="Company Logo">
                            </div>
                            <div class="text mt-4">
                                <h2>{{item.orgName}}</h2>
                                <p>{{item.Experience}}</p>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="">
                    <p>Experience</p>
                    <h1>Community <span style="color: #ff4a57;">Experience</span></h1>

                </div>
                <div class="d-flex flex-row bd-highlight mb-3 mt-4">
                    <div class="p-2 bd-highlight" *ngFor="let item of CommunityExperience">
                        <button class="card" (click)="openDialog(item.dialogComp)">
                            <div class="circle">
                                <img [src]="item.logo" alt="Company Logo">
                            </div>
                            <div class="text mt-4">
                                <h2>{{item.orgName}}</h2>
                                <p>{{item.degignation}}</p>
                            </div>
                        </button>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>
</div>