<div class="container overflow-auto" style="padding: 20px; ">
    <h5>Project name</h5>
    <h6 class="mt-4">Description </h6>
    <p>WTM aims to empower and support women pursuing careers in technology by providing them with resources,
        mentorship, networking opportunities, and skill-building programs. It seeks to bridge the gender gap in tech and
        encourage more women to enter and excel in the field.
    </p>
    <h6 class="mt-2">Duration</h6>
    <p>1st december 2022</p>
    <h6>Tech Stracks</h6>
    <mat-chip-listbox aria-label="Dog selection">
        <mat-chip>
          Dog one
        </mat-chip>
        <mat-chip color="primary">
          Dog two
        </mat-chip>
        <mat-chip color="accent">
          Dog three
        </mat-chip>
      </mat-chip-listbox>
    <!-- <button mat-stroked-button color="primary">Primary</button> -->
    <div class="mt-4">
        <a href="#" class="bn3">Company Website</a>
    </div>
</div>