
<div class="" style="background-color: #232639;color: #fff; padding-top: 70px;">
    <div class="container vh-100 ">
        <div class="row">
          <div class="d-flex justify-content-around">
            
          </div>
            <!-- <div class="d-flex flex-row bd-highlight mb-3 mt-4">
                <button class="p-2 bd-highlight" (click)="ActiveTab('Projects')">Projects</button>
                <button class="p-2 bd-highlight" (click)="ActiveTab('Talks')">Talks</button>
                <button class="p-2 bd-highlight" (click)="ActiveTab('Blogs')">Blogs</button>
              </div> -->
              <div class="d-flex  bd-highlight ">
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="hireme" (click)="ActiveTab('Projects')"
                    [ngClass]="{'beautiful-hover-active':isActiveTab=='Hireme'}">Projects</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="about" (click)="ActiveTab('Talks')"
                    [ngClass]="{'beautiful-hover-active':isActiveTab=='About'}">About me</a></div>
                 <div class="p-2 bd-highlight" ><a class="beautiful-hover"  routerLink="workspace" (click)="ActiveTab('Blogs')"
                     [ngClass]="{'beautiful-hover-active':isActiveTab=='Workspace'}">Workspace</a></div> 
            </div>
              <app-projects *ngIf="isActiveTab == 'Projects'"></app-projects>
              <app-talks *ngIf="isActiveTab == 'Talks'"></app-talks>
              <app-blogs *ngIf="isActiveTab == 'Blogs'"></app-blogs>
        </div>
    </div>
</div>

<!-- HTML !-->


