<h1 style="color: #ff4a57;">Talks  <span style="color: #fff;">: Tech talks</span></h1>

<div class="content-right">
    <p>
        Your paragraph text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in velit quis ligula hendrerit vestibulum. Donec finibus ultrices justo, vel convallis tortor eleifend vel.
    </p>
    <img src="../../../assets/talks-image/github_talks.jpeg" class="img-right" alt="Card Image">
</div>

<div class="content-left mt-3 mb-3">
    <img src="../../../assets/talks-image/WTM_Panelist.jpeg" class="img-left" alt="Card Image">
    <p>
        Your paragraph text goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in velit quis ligula hendrerit vestibulum. Donec finibus ultrices justo, vel convallis tortor eleifend vel.
    </p>
</div>