<div class="container" style="padding: 20px;">
    <h5>Website Developer | Zebaq web | Intern</h5>
    <h6 class="mt-4">3 Months</h6>
    <h6 class="mt-4">Bhubaneswar, Odisha</h6>
    <li>Proficiently utilized HTML, CSS, and JavaScript to develop intuitive and user-friendly interfaces, ensuring a seamless experience for web application users.</li>
    <li>Actively engaged in the practical implementation of front-end technologies, applying coding skills to create visually appealing and functional interfaces.</li>
    <li>Demonstrated strong collaboration skills within a team environment, actively contributing insights and knowledge while mentoring peers. This fostered an environment conducive to continuous learning and collective growth.</li>
    <li>Played a pivotal role in sharing expertise and best practices, contributing to the professional development of team members, thereby enhancing the overall team skill set.</li>
    <li>Facilitated effective communication channels within the team, ensuring smooth exchange of ideas, feedback, and project-related information, promoting synergy among team members.</li>
    <li>Demonstrated a proactive approach to problem-solving within the realm of front-end development, addressing challenges creatively and efficiently to maintain project momentum.</li>
    <li>Upheld high standards of quality in interface development, prioritizing user experience and ensuring that web applications met or exceeded usability and functionality expectations.</li>
    <div class="mt-4">
        <a href="https://zebaqweb.com/" target="_blank" class="button-18" role="button">Company Website</a>
        
        </div>
</div>