<!-- <div class="d-flex flex-row-reverse bd-highlight fixed-top nav-bar">
    <div class="p-2 bd-highlight"><button mat-button>Hire me</button></div>
    <div class="p-2 bd-highlight"><button mat-button>About me</button></div>
    <div class="p-2 bd-highlight"><button mat-button>Workspace</button></div>
    <div class="p-2 bd-highlight"><button mat-button>Home</button></div>
    
</div> -->


    <div class="row  nav-bar fixed-top">
        
        <div class="col">
            <div class="d-flex flex-row-reverse bd-highlight ">
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="hireme">Hire me</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="about">About me</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="experience">Workspace</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="">Home</a></div>
            </div>
        </div>
    </div>
