<!-- <div class="d-flex flex-row-reverse bd-highlight fixed-top nav-bar">
    <div class="p-2 bd-highlight"><button mat-button>Hire me</button></div>
    <div class="p-2 bd-highlight"><button mat-button>About me</button></div>
    <div class="p-2 bd-highlight"><button mat-button>Workspace</button></div>
    <div class="p-2 bd-highlight"><button mat-button>Home</button></div>
    
</div> -->


    <div class="row  nav-bar fixed-top">
        
        <div class="col">
            <div class="d-flex flex-row-reverse bd-highlight ">
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="hireme" (click)="isActive('Hireme')"
                    [ngClass]="{'beautiful-hover-active':isActiveTab=='Hireme'}">Hire me</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="about" (click)="isActive('About')"
                    [ngClass]="{'beautiful-hover-active':isActiveTab=='About'}">About me</a></div>
                 <div class="p-2 bd-highlight" ><a class="beautiful-hover"  routerLink="workspace"
                    (click)="isActive('Workspace')" [ngClass]="{'beautiful-hover-active':isActiveTab=='Workspace'}">Workspace</a></div> 
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="experience"
                    (click)="isActive('Experience')" [ngClass]="{'beautiful-hover-active':isActiveTab=='Experience'}">Experience</a></div>
                <div class="p-2 bd-highlight"><a class="beautiful-hover" routerLink="/"
                    (click)="isActive('Home')" [ngClass]="{'beautiful-hover-active':isActiveTab=='Home'}">Home</a></div>
            </div>
        </div>
    </div>
