/* your-component.component.css */

.beautiful-hover-active {
  color: #ffc107 !important; /* Yellow color for active link */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff; /* Default text color */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff; /* Color of the hamburger icon */
}
