
<div class="" style="background-color: #232639;color: #fff;">
    <div class="container vh-100 d-flex align-items-center">
        <div class="row">
            <div class="col">
                <div class="text-start">
                    <h1>Hello I'm </h1>
                   <h1 style="color: #ff4a57;">Arpita Priyadarshini Sahoo</h1>
                   <h1>a Frontend Developer</h1>
                   <p>"Fuelled by passion, shaping tomorrow's digital world through code's artistry."</p>
                   <div class="d-flex justify-content-start">
                    <a href="https://www.linkedin.com/in/arpitapriyadarshini/" target="_blank"><i class='bx bxl-linkedin-square p-2'></i></a>
                    <a href="https://twitter.com/ArpitaP90753593" target="_blank"><i class='bx bxl-twitter p-2' ></i></a>
                    <a href=""><i class='bx bxl-instagram-alt p-2'></i></a>
                    <a href=""><i class='bx bxl-github p-2' ></i></a>
                    <a href=""><i class='bx bxl-medium-square p-2'></i></a>
                   </div>
                   
                   <button class="button-24 mt-4" role="button" routerLink="experience">Explore Work Experience </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- HTML !-->


