<div class="container overflow-auto" style="padding: 20px;">
    <h5>Google Developer Groups | Google</h5>
    <h5>Core Member</h5>
    <h6 class="mt-4">Oct 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ol class="mt-4">
        <li>GDGs are communities driven by developers passionate about Google technologies, organizing events and activities like workshops and hackathons for learning and collaboration.</li>
        <li>GDGs provide a platform for networking and support in the tech community, connecting developers, designers, and tech enthusiasts to encourage collaboration and idea exchange.</li>
        <li>As a core member of the Google Developer Group, organized and led tech workshops, meetups, and hackathons, fostering a vibrant community focused on learning and using Google technologies.</li>
    </ol>
    <div class="mt-4 text-end">
        <a href="https://developers.google.com/community/gdg" class="bn3">Know more</a>
    </div>

</div>