<div class="container overflow-auto" style="padding: 20px;">
    <h5>Google Developer Groups | Google</h5>
    <h5>Core Member</h5>
    <h6 class="mt-4">Oct 2022 - present </h6>
    <h6 class="mt-2">Bhubaneswar, Odisha</h6>
    <ul class="mt-4">
    <li>GDGs are communities created and managed by developers who are passionate about Google technologies. These groups organize events, workshops, hackathons, and study jams that offer opportunities for developers to learn, share knowledge, and collaborate on projects using Google's platforms and tools.</li>
    <li>GDGs serve as platforms for networking and support within the tech community. They bring together like-minded individuals, fostering connections among developers, designers, and tech enthusiasts. These groups encourage collaboration, mentorship, and the exchange of ideas and experiences.</li>
    <li>Organized and led various tech workshops, meetups, and hackathons as a core member of the Google Developer Group, fostering a vibrant community and promoting learning around Google technologies.</li>        
    </ul>
    <div class="mt-4 text-end">
        <a href="https://developers.google.com/community/gdg" class="bn3">Know more</a>
    </div>

</div>